{% extends "base.html" %}
{% block title %}Kirish{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4 shadow-sm">
      <h4 class="text-center mb-3">🔐 Tizimga kirish</h4>
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Parol</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <button class="btn btn-success w-100">Kirish</button>
      </form>
      <p class="text-center mt-3">Hisobingiz yo‘qmi? <a href="{{ url_for('register') }}">Ro‘yxatdan o‘tish</a></p>
    </div>
  </div>
</div>
{% endblock %}
